/*
 * ============================================
 *  VARIABLES
 * ============================================
 */ 

/* Fonts */
$font: 'Mulish', sans-serif;

/* Font Weights */
$fw-400: 400;
$fw-500: 700;
$fw-600: 800;

/* Font Sizing */
$fs-100: 12px;
$fs-200: 14px;
$fs-300: 16px;
$fs-400: 18px;
$fs-500: 24px;
$fs-600: 32px;
$fs-700: 40px;
$fs-800: 48px;
$fs-900: 56px;

/* Shadows */
$shadow-300: 0px 0px 10px rgba(4, 4, 4, 0.15);
$shadow-400: 0px 0px 20px rgba(4, 4, 4, 0.2);
$shadow-500: 0px 0px 30px rgba(4, 4, 4, 0.25);


/* Colors */
$clr-bg-400: #282828;
$clr-bg-500: #1C1C1C;
$clr-bg-600: #4A4A4A;

$clr-text-100: #FFFFFF;
$clr-text-200: #8B8B8B;
$clr-text-300: #5C5C5C;
$clr-text-400: #9D9D9D;
$clr-text-500: #D9D9D9;

$clr-stroke-400: #3A3A3A;

$clr-dividers-400: #323232;

$clr-icons-400: #6C6C6C;

$clr-primary-100: #C0CAF1;
$clr-primary-200: #95AAF5;
$clr-primary-300: #6782E7;
$clr-primary-400: #4264DF;
$clr-primary-500: #244AD0;
$clr-primary-600: #244DDF;

$clr-accent-100: #FFC2A0;
$clr-accent-200: #FFAB7C;
$clr-accent-300: #EA996B;
$clr-accent-400: #F37B38;

$clr-success-200: #C2F5B9;
$clr-success-300: #B0F9A5;
$clr-success-400: #4DA63E;
$clr-success-500: #369926;

$clr-attention-200: #F9F1C7;
$clr-attention-300: #EFE29B;
$clr-attention-400: #F9DE51;
$clr-attention-500: #EFD02C;

$clr-error-200: #FBDFDF;
$clr-error-300: #F7B7B7;
$clr-error-400: #FF4545;
$clr-error-500: #ED2F2F;

/* Corner Radius */
$cr-300: .25rem;
$cr-400: .5rem;
$cr-500: 1rem;

/* Spacing */
$flow-spacing: 1em;

$spacing-100: .25rem;
$spacing-200: .5rem;
$spacing-300: 1rem;
$spacing-400: 1.25rem;
$spacing-500: 1.5rem;
$spacing-600: 2rem;
$spacing-700: 2.5rem;
$spacing-800: 3rem;
$spacing-900: 3.5rem;

$spacing-btn-100: .375rem 2rem;
$spacing-btn-200: .5rem 2rem;
$spacing-btn-300: .625rem 2rem;
$spacing-btn-400: .75rem 2rem;

/*
 * ============================================
 *  BASE
 * ============================================
 */ 

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    transition: all 150ms ease;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $clr-bg-600;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $clr-primary-200;
    border-radius: 9999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: $clr-primary-300;
  }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list style on ul, ol elements */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $clr-primary-400;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}
body {
    font-family: $font;
    font-size: $fs-400;
    font-weight: $fw-400;
    line-height: 1.6;
    color: $clr-text-400;
    background-color: $clr-bg-400;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
}

h1 {
    font-size: $fs-900;
    font-weight: $fw-600;
}

h2 {
    font-size: $fs-800;
    font-weight: $fw-600;
}

h3 {
    font-size: $fs-700;
    font-weight: $fw-600;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
 * ============================================
 * COMPOSITION
 * ============================================
 */

.flow > * + * {
    margin-top: $flow-spacing;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-items-end {
    display: flex;
    align-items: flex-end;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.flex-content-space {
    display: flex;
    justify-content: space-between;
}

.flex-horizontal-c {
    display: flex;

    >* {
        flex: 1 1;
    }
}

/*
 * ============================================
 * UTILITY
 * ============================================
 */

/* Colors */
.bg-400 {
    background-color: $clr-bg-400;
}

.bg-500 {
    background-color: $clr-bg-500;
}

.bg-600 {
    background-color: $clr-bg-600;
}

/* Spacing */
.padding-4 {
    padding: $spacing-100;
}

.padding-8 {
    padding: $spacing-200;
}

.padding-16 {
    padding: $spacing-300;
}

.padding-20 {
    padding: $spacing-400;
}

.padding-24 {
    padding: $spacing-500;
}

.padding-32 {
    padding: $spacing-600;
}

.padding-40 {
    padding: $spacing-700;
}

.padding-48 {
    padding: $spacing-800;
}

.padding-56 {
    padding: $spacing-900;
}

.padding-remsides {
    padding-left: 0;
    padding-right: 0;
}




.margin-top-8 {
    margin-top: $spacing-200;
}

.margin-top-16 {
    margin-top: $spacing-300;
}

.margin-bottom-4 {
    margin-bottom: $spacing-100;
}

.margin-bottom-8 {
    margin-bottom: $spacing-200;
}

.margin-bottom-16 {
    margin-bottom: $spacing-300;
}

.margin-bottom-20 {
    margin-bottom: $spacing-400;
}

.margin-bottom-24 {
    margin-bottom: $spacing-500;
}

.margin-bottom-32 {
    margin-bottom: $spacing-600;
}

.margin-bottom-40 {
    margin-bottom: $spacing-700;
}

.margin-bottom-48 {
    margin-bottom: $spacing-800;
}

.margin-bottom-56 {
    margin-bottom: $spacing-900;
}

.gap-4 {
    gap: $spacing-100;
}

.gap-8 {
    gap: $spacing-200;
}

.gap-16 {
    gap: $spacing-300;
}

.gap-20 {
    gap: $spacing-400;
}

.gap-24 {
    gap: $spacing-500;
}

.gap-32 {
    gap: $spacing-600;
}

.gap-40 {
    gap: $spacing-700;
}

.gap-48 {
    gap: $spacing-800;
}

.gap-56 {
    gap: $spacing-900;
}

/* Widths */

.max-width-250 {
    max-width: 250px;
}

.max-width-350 {
    max-width: 350px;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-550 {
    max-width: 550px;
}

.width-550 {
    width: 550px;
}

.width-fill {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.max-height-250 {
    max-height: 250px;
    padding-right: 20px;
    margin-right: -20px;
    overflow-y: scroll;
}

/* Text */

.subtitle {
    font-size: $fs-600;
    font-weight: $fw-600;

    &[data-size="S"] {
        font-size: $fs-500;
    }
}

.text {
    font-size: $fs-300;
    font-weight: $fw-400;

    &.bold {
        font-weight: $fw-500;
    }

    &[data-weight="B"] {
        font-weight: $fw-500;
    }
    &[data-weight="XB"] {
        font-weight: $fw-600;
    }

    &[data-size="L"] {
        font-size: $fs-500;
    }

    &[data-size="M"] {
        font-size: $fs-400;
    }

    &[data-size="S"] {
        font-size: $fs-200;
    }

    &[data-size="XS"] {
        font-size: $fs-100;
    }
}

.text-primary-200 {
    color: $clr-text-200;
}

.text-primary-300 {
    color: $clr-text-300;
}

.text-primary-400 {
    color: $clr-text-400;
}

.text-primary-500 {
    color: $clr-text-500;
}

.black {
    color: #000000 !important;
}

.darkblue {
    color: #0000AA !important;
}

.darkgreen {
    color: #00AA00 !important;
}

.darkaqua {
    color: #00AAAA !important;
}

.darkred {
    color: #AA0000 !important;
}

.darkpurple {
    color: #AA00AA !important;
}

.gold {
    color: #FFAA00 !important;
}

.gray {
    color: #AAAAAA !important;
}

.darkgray {
    color: #555555 !important;
}

.blue {
    color: #5555FF !important;
}

.green {
    color: #55FF55 !important;
}

.aqua {
    color: #55FFFF !important;
}

.red {
    color: #FF5555 !important;
}

.lightpurple {
    color: #FF55FF !important;
}

.yellow {
    color: #FFFF55 !important;
}

.white {
    color: #FFFFFF !important;
}

.text-align-left {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: end;
}

/* border radius */

.br-300 {
    border-radius: $cr-300;
}

.br-400 {
    border-radius: $cr-400;
}

.br-500 {
    border-radius: $cr-500;
}

/* Shadows */

.shadow-400 {
    box-shadow: $shadow-400;
}

/* Buttons */
.button {
    display: block;

    width: fit-content;

    background-color: $clr-primary-400;
    color: $clr-text-100;

    cursor: pointer;

    padding: $spacing-btn-400;

    border: 0;
    border-radius: $cr-400;

    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: $fw-600;
    font-size: $fs-400;
    text-align: center;

    transition: background-color 150ms ease, color 150ms ease;

    &:hover {
        background-color: $clr-primary-500;
    }

    &:active {
        background-color: $clr-primary-600;
    }

    &:disabled,
    &.disabled {
        background-color: $clr-bg-600;
        color: $clr-text-200;
        cursor: not-allowed;
    }

    &:focus,
    &:focus-visible,
    &:focus-within {
        outline: 2px solid $clr-accent-400;
    }


    &[data-size="M"] {
        font-size: $fs-300;
        padding: $spacing-btn-300;
    }

    &[data-size="S"] {
        font-size: $fs-200;
        padding: $spacing-btn-200;
    }

    &[data-size="XS"] {
        font-size: $fs-200;
        padding: $spacing-btn-100;
    }

    &[data-type="secondary"] {
        background-color: $clr-primary-100;
        color: $clr-primary-400;

        &:hover {
            background-color: $clr-primary-500;
            color: $clr-text-100;
        }

        &:active {
            background-color: $clr-primary-600;
            color: $clr-text-100;
        }
    }

    &[data-block="true"] {
        width: 100%;
        display: block;
    }
    
}

/*
 * ============================================
 * BLOCK
 * ============================================
 */

.content {
    margin-top: 88px;
    min-height: 80vh;
    &[data-type="space"] {
        >* {
            width: 100%;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;   
        }
    }
    &[data-type="dark"] {
        background-color: $clr-bg-500;
    }
}

.form-group[data-type="text"] {

    &[data-style="icon"] {
        margin-top: -30px;
        min-width: 350px;
        >label {
            display: none;
        }
        >.icon {
            position: relative;
            bottom: -47px;
            left: 15px;
        }
        >input {
            padding-left: 45px;
            color: $clr-text-500;
        }
    }

    &[data-color="light"] {
        >input {
            background-color: $clr-bg-400;
        }
    }


    >label {
        display: block;
        font-size: $fs-200;
        font-weight: $fw-500;
        color: $clr-text-200;
        margin-bottom: $spacing-100;
    }
    >input {
        display: block;
        border: none;
        background-color: $clr-bg-500;
        padding: $spacing-300;
        font-size: $fs-200;
        border-radius: $cr-400;
        color: $clr-text-300;
        width: 100%;
        outline-offset: -2px;
        outline: 2px solid transparent;
        transition: outline 100ms ease;

        &:hover {
            outline-color: $clr-accent-400;
        }

        &:focus,
        &:focus-visible,
        &:focus-within {
            outline-color: $clr-primary-400;
        }

        &:disabled {
            color: $clr-text-400;
            background-color: $clr-bg-600;
            outline-color: $clr-dividers-400;
            outline-width: 1px;
            outline-offset: -1px;
        }

        &:not(:placeholder-shown):invalid,
        &.invalid,
        &:not(:last-child) {
            outline-color: $clr-error-400;
        }
    }

    >.error-label {
        color: $clr-error-400;
        margin-bottom: $spacing-300;
    }

    &:not(:last-child) {
        >input:last-child {
            margin-bottom: $spacing-300;
        }
    }
}



form.valid {
    >.form-group {
        >input {
            background-color: $clr-success-300;
            color: $clr-success-400;
            outline-color: $clr-success-400;
        }
    }
}

.section {
    &[data-type="dark"] {
        background-color: $clr-bg-500;
    }
    >.section-content {
        width: 100%;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

        &[data-width="panel"] {
            max-width: 1250px;
        }

        &[data-type="split"] {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            width: 100%;
            height: 100%;

            >* {
                width: 100%;
                height: 100%;
            }
        }

        &[data-type="center"] {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &[data-size="tall"] {
            min-height: 875px;
        }

        &[data-size="medium"] {
            min-height: 550px;
        }
    }
}

.header {
    background-color: $clr-bg-400;
    box-shadow: $shadow-400;
    top: 0;
    position: fixed;
    z-index: 9999999;
    width: 100%;

    &__content {
        height: 88px;

        width: 100%;
        max-width: 1400px;

        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.divider {
    margin-bottom: $spacing-200;
    width: 100%;
    height: 1px;
    background-color: $clr-bg-600;
}

.footer {
    width: 100%;
    background-color: $clr-bg-400;

    &__content {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: $clr-bg-600;
    }

    &__details {
        height: 65px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-container {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-300;
    }
}

.card-slider {
    position: relative;
    display: flex;

    >*{
        z-index: 2;
        box-shadow: $shadow-400;
    }

    >*:first-child {
        opacity: 0.8;
        transform: scale(0.9) translateX(50px);
        z-index: 1;
    }
    >*:last-child {
        opacity: 0.8;
        transform: scale(0.9) translateX(-40px);
        z-index: 1;
    }
}

#skin-container {
    margin-bottom: -30px;
}

.stars {
    color: $clr-attention-400;
}

.panel {
    margin-top: $spacing-200;
    &__content {
        margin-top: $spacing-500;
        padding-bottom: $spacing-500;
        display: flex;
        min-height: 750px;

        >* {
            width: 100%;
            >*:not(:last-child) {
                margin-bottom: $spacing-400;
            }
        }
        gap: $spacing-400;

        >:first-child {
            width: 25%;
        }
    }
}

.card {
    min-width: 250px;
    max-width: 375px;
    background-color: $clr-bg-400;
    border-radius: $cr-500;
    padding: $spacing-400;
    padding-bottom: $spacing-300;
    box-shadow: $shadow-300;

    &__image {
        width: 200px;
        margin-bottom: $spacing-400;
    }

    &__tall-image {
        background-color: $clr-primary-200;
        width: 330px;
        height: 350px;
        border-radius: $cr-400;
        margin-bottom: $spacing-400;
    }

    &__content {
        &[data-type="split"] {
            display: flex;
            flex-direction: row;
            gap: $spacing-400;

            >* {
                flex: 1 0;
            }
        }

        >.icon {
            display: flex;
            align-items: center;
            justify-content: center;


            >span {
                height: fit-content;
                width: fit-content;
                color: $clr-text-100;
                font-size: 24px;
                padding: 12px;
                border-radius: 8px;
                background-color: $clr-primary-400;
            }
        }
    }
}

.accordion {
    width: 100%;
    background-color: $clr-bg-400;
    border-radius: $cr-500;
    padding: $spacing-200 $spacing-300;
    box-shadow: $shadow-300;

    &__header {
    }
    &__collapse {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__featured {
        display: flex;
        flex: 1 1;
    }

    &__title {
        flex: 0 1 33%;
    }

    &__drop {
        display: block;
        transition: all .25s ease;
        overflow-y: hidden;
    }
}

.featured-stat {
    text-align: center;
    margin-left: $spacing-200;
    margin-right: $spacing-200;

    >h4 {
        margin-bottom: -4px;
    }
}

.stat {
    color: $clr-text-500;
    font-weight: $fw-500;
    font-size: $fs-300;
    >span {
        color: $clr-text-400;
        font-weight: $fw-400;
    }
}

.row {
    display: flex;
    margin-bottom: $spacing-200;

    >* {
        flex: 0 0 100%;
        flex-basis: 0;
        flex-grow: 1;

        &:first-child {
            flex: 0 0 33.33%
        }

        &:last-child {
            flex: 0 0 auto;
        }

        &:nth-child(1) {
            flex: 0 0 100%;
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}

.stat-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    >tbody {
        >tr {
            >td {
                &:first-child {
                    padding-left: 5px;
                }
            }
            &:nth-child(2n+1) {
                background-color: rgba($clr-bg-500, 0.3);
            }
        }
    }
}

.drop-info {
    border-top: none;
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
    color: #AEB1B3;
    font-size: 13px;
    background-color: #fff;
}

.badge {
    padding: 3px 6px;
    background-color: $clr-accent-400;
    border-radius: 4px;
    font-size: $fs-100;
    font-weight: $fw-500;
    color: $clr-text-100;
}

.panel-header {
    padding: $spacing-200 0;
}

.chip {
    font-size: $fs-300;
    font-weight: $fw-600;
    color: $clr-text-300;
    padding: $spacing-200 $spacing-400;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    transition: 150ms ease;

    &:hover {
        color: $clr-primary-400;
        border-color: $clr-primary-400;
        cursor: pointer;
    }

    &:active {
        color: $clr-primary-600;
        border-color: $clr-primary-600;
    }

    &.selected,
    &.router-link-exact-active {
        border-color: $clr-primary-400;
        color: $clr-text-500;
    }

    >.badge {
        margin-left: 6px;
    }
}

.tooltip {
    max-width: 350px;
    padding: $spacing-300;
    background-color: $clr-bg-500;
    border-radius: $cr-400;
    color: $clr-text-500;
    position: relative;
    display: flex;
    margin-bottom: 30px;
    gap: $spacing-300;
    align-items: center;

    &[data-type="bold"] {
        font-weight: $fw-600;
    }

    >.tooltip__icon {
        padding: 10px;
        border-radius: $cr-300;
        background-color: $clr-primary-300;
        height: fit-content;

        &[data-color="red"] {
            background-color: $clr-error-300;
        }
        &[data-color="green"] {
            background-color: $clr-success-300;
        }
        &[data-color="yellow"] {
            background-color: $clr-attention-300;
        }
        &[data-color="orange"] {
            background-color: $clr-accent-200;
        }

        >span {
            display: block;
            font-size: 18px;
            color: $clr-text-100;
        }
    }

    &::after {
        content: "";
        display: block;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: $clr-bg-500 transparent transparent;

        position: absolute;
        bottom: -9px;
        left: 50%;
    }

    &[data-side="bottom"] {
        &[data-align="start"] {
            &::after {
                left: $cr-400;
                right: auto;
            }
        }
        &[data-align="end"] {
            &::after {
                left: auto;
                right: $cr-400;
            }
        }
    }

    &[data-side="top"] {
        &::after {
            border-top-color: transparent;
            border-bottom-color: $clr-bg-500;
            top: -9px;
            bottom: auto;
            border-top-width: 0;
            border-bottom-width: 10px;
        }

        &[data-align="start"] {
            &::after {
                left: $cr-400;
                right: auto;
            }
        }
        &[data-align="end"] {
            &::after {
                left: auto;
                right: $cr-400;
            }
        }
    }

    &[data-side="left"] {
        &::after {
            border-width: 10px;
            border-left-color: transparent;
            border-left-width: 0;
            border-top-color: transparent;
            border-right-color: $clr-bg-500;
            margin: -10px 0 0;
            left: -9px;
            right: auto;
            top: 50%;
            bottom: auto;
        }
        
        &[data-align="start"] {
            &::after {
                margin-top: 0px;
                top: $cr-400;
                bottom: auto;
            }
        }
        &[data-align="end"] {
            &::after {
                top: auto;
                bottom: $cr-400;
            }
        }
    }

    &[data-side="right"] {
        &::after {
            border-width: 10px;
            border-right-color: transparent;
            border-right-width: 0;
            border-top-color: transparent;
            border-left-color: $clr-bg-500;
            margin: -10px 0 0;
            right: -9px;
            left: auto;
            top: 50%;
            bottom: auto;
        }
        
        &[data-align="start"] {
            &::after {
                margin-top: 0px;
                top: $cr-400;
                bottom: auto;
            }
        }
        &[data-align="end"] {
            &::after {
                top: auto;
                bottom: $cr-400;
            }
        }
    }
}

.hero-display {
    >.hero-image {
        position: relative;
        max-height: 700px;
        z-index: 1;
    }

    >.tooltips {
        >.one {
            z-index: 2;
            position: absolute;
            transform: translateY(50px) translateX(-80px);
        }
        >.two {
            z-index: 2;
            position: absolute;
            transform: translateY(-40px) translateX(275px);
        }
        >.three {
            z-index: 2;
            position: absolute;
            transform: translateY(300px) translateX(-50px);
        }
        >.four {
            z-index: 2;
            position: absolute;
            transform: translateY(400px) translateX(275px);
        }
    }
}

.bar-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    >.stat-bar {
        flex-grow: 1;
    }
}

.stat-bar {
    &__text {
        height: 20px;
        margin-bottom: -18px;
        z-index: 3;
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: $clr-text-100;
    }
    &__bar {
        background-color: $clr-accent-400;
        min-width: 5%;
        height: 20px;
        margin-bottom: -20px;
        z-index: 2;
        position: relative;
        border-radius: $cr-300;
    }
    &__base {
        width: 100%;
        background-color: $clr-bg-500;
        height: 20px;
        z-index: 1;
        border-radius: $cr-300;
    }
}

.loading {
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.40);

    display: flex;
    align-items: center;
    justify-content: center;

    &.success {
        >svg {
            >path {
                animation: check .75s 1 linear;
                transform-origin: center;
                opacity: 100%;
                stroke: $clr-success-400;
            }
            >circle {
                stroke: $clr-success-400;
                stroke-dasharray: 100 0;
                transition: stroke-dasharray 150ms ease;
                animation-iteration-count: 1;
            }
        }
    }

    >svg {
        animation: spinner 1s infinite linear;


        >path {
            opacity: 0%;
            transform: translateX(32.5px) translateY(35px);
        }
        >circle {
            stroke: $clr-primary-400;
            stroke-dasharray: 50 50;
            animation: spinnerCircle 2s infinite linear;
            
            transition: all 250ms ease-in-out;
            transform-origin: center;
        }
    }
}

@keyframes check {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes spinnerCircle {
    0% {
        transform: rotate(45deg);
        stroke-dasharray: 100 0;
    }

    50% {
        transform: rotate(405deg);
        stroke-dasharray: 50 50;
    }

    100% {
        transform: rotate(405deg + 360deg);
        stroke-dasharray: 100 0;
    }
}

*[data-bg-color="yellow"] {
    background-color: $clr-attention-300 !important;
}

*[data-bg-color="orange"] {
    background-color: $clr-accent-300 !important;
}

*[data-bg-color="red"] {
    background-color: $clr-error-300 !important;
}

*[data-bg-color="green"] {
    background-color: $clr-success-300 !important;
}